{% extends "rsvp/base.html" %}

{% block content %}
<div class="page-content text-center info">
  <p>Together with their families</p>
  <p class="bride-and-groom">Anna Rothenbuhler<br>&amp;<br>Derek Lilly</p>
  <p>request the pleasure of your company at the celebration of their marriage</p>
  <p class="date">March 31, 2017</p>
  <p>
    The Trocadero Clubhouse, Stern Grove<br>
    19th Avenue & Sloat Boulevard<br>
    San Francisco, California<br>
  </p>
  <p>at 5:30pm</p>
  <p class="text-uppercase">Reception to Follow</p>
</div>
{% endblock %}
