{% extends "rsvp/base.html" %}

{% block content %}
<div class="page-content text-center info">
  <p>Together with their families</p>
  <p class="bride-and-groom">Brooke Choate<br>&amp;<br>Micah Rothenbuhler</p>
  <p>request the pleasure of your company at their wedding ceremony</p>
  <p class="date">December 7, 2018</p>
  <p>
    Pageo Lavender Farms<br>
    11573 Golf Road<br>
    Turlock, California<br>
  </p>
  <p>at 3:30pm</p>
  <p class="text-uppercase">Reception to Follow</p>
</div>
{% endblock %}
