{% extends "rsvp/base.html" %}

{% block content %}
<div class="page-content registry">
  <div class="row">
    <div class="col-sm-6">
      <p class="text-center">
        <a href="www.tgt.gifts/71446243308d4af3b13ce55547029bbe"
           target="_blank"
        >
          <img
              class="img-registry target-logo-img"
              src="/static/img/target-logo.png"
              alt="Target"
          />
          <br />
          Shop Online
        </a>
      </p>
    </div>
    <div class="col-sm-6">
      <p class="text-center">
        <a href="https://www.bedbathandbeyond.com:443/store/giftregistry/view_registry_guest.jsp?registryId=546341096&eventType=Wedding"
           target="_blank"
        >
          <img
              style="margin-top:40px; !important;"
              class="img-registry bbb"
              src="/static/img/bbb-logo.png"
              alt="Bed Bath and Beyond"
          />
          <br />
          Shop Online
        </a>
        or in stores
      </p>
    </div>
  </div>
</div>
{% endblock %}
