{% extends "rsvp/base.html" %}

{% block content %}
<div class="page-content registry">
  <div class="row">
    <div class="col-sm-6">
      <p class="text-center">
        <a href="#">
          <img class="img-registry" src="/static/img/amazon-logo.jpg" alt="Amazon" />
          <br />
          Shop Online
        </a>
      </p>
    </div>
    <div class="col-sm-6">
      <p class="text-center">
        <a href="#">
          <img class="img-registry" src="/static/img/bbb-logo.png" alt="Bed Bath and Beyond" />
          <br />
          Shop Online
        </a>
        or in stores
      </p>
    </div>
  </div>
</div>
{% endblock %}
