body {
    background: url("/static/img/background.jpg");
    background-size:100%;
    height: 100vh;
    width: 100vw;
}

a, a:hover {
    color: white;
}

h1.pagetitle {
    font-family: athelas, Georgia, serif;
    font-style: normal;
    font-weight: 400;
    margin-top: 50px;
    margin-bottom: 50px;
    color: white;
}

.target-logo-img {
    border: 35px solid white;
    height: 300px !important;
}

h1.pagetitle > small {
    color: white;
}

.page-content {
    margin-bottom: 50px;
}

/*************
 * Home page *
 *************/

img.clubhouse {
    border: 5px solid lightgray;
    padding: 10px;
}

/*************
 * Info page *
 *************/

.info {
    font-family: athelas, Georgia, serif;
    font-style: italic;
    font-weight: 400;
    color: lightgray;
}

.bride-and-groom {
    font-style: normal;
    font-size: 30px;
    line-height: 26.4px;
    color: white;
/* H2-sized
    font-size: 30px;
    line-height: 33px;
 */
}

.text-center {
    color: lightgray;
}

.date {
    font-size: 24px;
    line-height: 26.4px;
}

/*****************
 * Registry page *
 *****************/

img.img-registry {
    height: 208px;
}

p.registry-shipping {
    margin-top: 36px;
}

/*********
 * Forms *
 *********/

 .numberinput {
    width: 84px;
}

form#id-responseForm {
    color: lightgray;
}

form#id-responseForm textarea,
form#id-responseForm input#id_guest_count,
form#id-responseForm input#id_name {
    background-color:rgba(256,256,256,0.05);
    color:rgb(226,226,226);
}

.text-uppercase a:hover {
    color:rgb(60,60,60)!important;
}
